html {
  margin: 5%;
}

body {
  color: #666;
}

h1, h2 {
  text-align: center;
}

.highlight { background-color: yellow }

p {
  font-family: "Courier New", Courier, monospace;
}

#editor {
  width: 100%;
  height: 200px;
  font-size: 16pt;
}

#grep {
  width: 98%;
}

#footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 90%;
  opacity: .6;

  .right {
    float: right;
  }
}

#error {
  padding: 10px;
  background-color: #FFA198;
  border: 2px solid #FF5B4C;
  color: white;
  display: none;
}

form.button_to {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  border: rgba(0,0,0,0.15);

  input {
    float: right;
    margin-right: 50px;
    background-color: #f5f5f5;
    border: 2px solid rgba(0,0,0,0.15);
  }
}
