<section id="input">
  <form action="/" method="post" data-url="<%= root_path %>">
    <h4>Your Rails routes:</h4>
    <div name="route" id="editor"><%= params[:route] %></div>
    <div id="error"></div>

    <h4>(Optional) Narrow your results:</h4>
    <input type="text" id="grep" value="<%= params[:grep] %>" />

    <br />
  </form>
</section>

<h4>Results:</h4>
<pre id="results">
  No results yet. Try creating some routes
</pre>
