<section id="input">
  <form action="/" method="post" data-url="<%= root_path %>">
    <strong>Your Rails routes:</strong>
    <div name="route" id="editor"><%= params[:route] %></div>

    <p>
      <input type="submit" id="submit" />
    </p>

    <strong>(Optional) Narrow your results:</strong>
    <br />
    <input type="text" id="grep" value="<%= params[:grep] %>" />

    <br />
  </form>
</section>

<pre id="results">
</pre>
