<!DOCTYPE html>
<html lang="en">
<head>
  <title>Routastic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Routastic</h1>
  <h2>a Rails route editor</h2>

  <%= yield %>

  <section id="footer">
    Made by <a href="https://github.com/bsimpson">Ben Simpson</a>
    <div class="right">
      Visit the <a href="http://guides.rubyonrails.org/routing.html">official Rails routing guide</a>
    </div>
  </section>

</body>
</html>
